@import '~normalize.css';

::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
  background: transparent;
}

:root,
body,
#app {
  height: 100%;
}

html {
  font-size: 14px;
}

#app {
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  background-image: radial-gradient(
    circle,
    #f9fcff 20%,
    #e2eff7 50%,
    #b1d4e7 100%
  );
}

a {
  &,
  &:active,
  &:hover,
  &:visited {
    text-decoration: none;
  }
}
