html(lang="en")
  head
    title {{ title }}
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description" content="try to learn using React with server slide render deeply")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script.
      if (location.hostname.indexOf('.github.io') !== -1) {
        location.href = 'https://www.1stg.me'
      } else {
        const canvas = document.createElement('canvas')
        canvas.width = canvas.height = 1
        if (canvas.toDataURL && canvas.toDataURL('image/webp').indexOf('image/webp') === 5) {
          document.documentElement.classList.add('webp')
        }
      }
    style.
      #skip a {
         position: absolute;
         left: -10000px;
         top: auto;
         width: 1px;
         height:1 px;
         overflow: hidden;
      }
      #skip a:focus {
         position:static;
         width:auto;
         height:auto;
       }
  body
    #skip
      a(href="#app") skip to content
    #app
