@function abs($number) {
  @if $number >= 0 {
    @return $number;
  }

  @return -1*$number;
}

@function sqrt($square, $tolerance: 0.001, $estimate: $square/2) {
  @if abs($square - $estimate*$estimate) < $tolerance {
    @return $estimate;
  }

  @return sqrt($square, $tolerance, ($estimate + $square/$estimate)/2);
}

$grid-size: 320px;
$content-size: round($grid-size / sqrt(2));
$bg-size: $content-size * 2;

.grid {
  position: absolute;
  left: 50%;
  top: $grid-size;
  display: block;
  width: $grid-size;
  height: $grid-size;
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
  overflow: hidden;

  button {
    &:active,
    &:focuse,
    &:hover {
      outline: none;
      box-shadow: none;
    }
  }

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    width: $bg-size;
    height: $bg-size;
    content: '';
    opacity: 0;
    z-index: -1;
    transition: opacity 1s;
    background-size: cover;
  }

  &:hover {
    &:after {
      opacity: 0.5;
    }

    button {
      background-color: #fff;
    }

    .border-t {
      right: 8px;
    }

    .border-b {
      left: 8px;
    }

    .border-r {
      bottom: 8px;
    }

    .border-l {
      top: 8px;
    }
  }
}

.github {
  width: ($grid-size / 2);
  height: ($grid-size / 2);
  margin-left: 0 - $content-size;
  margin-top: 0 - ($content-size / 2);
  background-color: #fad957;

  &:after {
    width: $grid-size;
    height: $grid-size;
  }

  img {
    width: 60px;
  }

  h2 {
    font-size: 16px;
    font-weight: 500;
  }
}

.rubick {
  background-color: #1496bf;

  &:hover button {
    color: #3ea8ca;
  }

  &:after {
    background-image: url('./site1.png');
  }
}

.react-hn {
  margin-left: 0 - $content-size;
  margin-top: $content-size;
  background-color: #eb584b;

  &:hover button {
    color: #eb584b;
  }

  &:after {
    background-image: url('./site2.png');
  }
}

.blog {
  margin-left: 1 + $content-size;
  margin-top: $content-size;
  background-color: #c465bb;

  &:hover button {
    color: #c465bb;
  }

  &:after {
    background-image: url('./site3.png');
  }
}

.border {
  position: absolute;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  transition: all 1s linear;
}
.border-t,
.border-b {
  height: 1px;
}

.border-r,
.border-l {
  width: 1px;
}

.border-t {
  top: 8px;
  right: 100%;
  left: 8px;
}

.border-b {
  bottom: 8px;
  right: 8px;
  left: 100%;
}

.border-r {
  top: 8px;
  bottom: 100%;
  right: 8px;
}

.border-l {
  top: 100%;
  bottom: 8px;
  left: 8px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  width: $content-size;
  height: $content-size;
  text-align: center;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  button {
    border: 1px solid #fff;
    border-radius: 0;
    width: 180px;
    height: 50px;
    margin-top: 10px;
    transition: all 1s linear;
    color: inherit;
    background-color: transparent;
    cursor: inherit;
  }
}
