.main {
  height: 100%;

  a {
    color: #fff;
  }
}

.record {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  text-align: center;
  line-height: 24px;

  &,
  a {
    color: #666;
  }
}
