{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": true,
          "ie": 9
        },
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  },
  "ignore": [
    "dist/**/*.js"
  ],
  "comments": false
}
